html{
    background-image: url("https://www.whatspaper.com/wp-content/uploads/2021/04/hd-kpop-wallpaper-whatspaper.jpg");
    font-size: 20px;
  }
  body{
      font-family: Arial, san-serif;
      text-align: center;
      color: black;
      margin: 0;
      padding: 10px 500px;
      font-size: 1 rem;
      font-weight: 400;
  }
  form {
  border-color: black;
    border-style: solid;
    text-align: left;
    padding: 10px 30px 10px;
    border-radius: 20px;
    line-height: 1.4;
  }
  
  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  
  .input-textarea {
    min-height: 120px;
    width: 90%;
    padding: 0.625rem;
    resize: vertical;
  }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .input-control {
    margin: 0 auto 0.75rem auto;
    padding: 0.375rem 0.75rem;
  }
  
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: purple;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
  }